
    .player-wrapper {
        overflow: initial;
        width: auto;
        background-color: var(--background-main);
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        padding: 0px 50px 0px 50px;
      }
      .player-div {
        position: relative;
        top: 40px;
      }
      .badge {
        background: hsl(0deg 0% 18%);
        text-align: center;
        width: 40%;
        padding: 10px;
        border-radius: 10%;
      }
      .suggestion-div {
        background-color: var(--background-main);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: auto;
        position: relative;
        top: 40px;
        /* padding: 10px 24px 0px 0px; */
      }
      .video-DisplayTitle {
        color: white;
        font-size: 1.2rem;
        font-family: var(--font-fam-2);
      }
      .video-views-date {
        color: grey;
        font-size: 1rem;
        position: relative;
        bottom: 5px;
      }
      .player-control {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .video-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        position: relative;
        top: 15px;
      }
      .flex {
        background-color: hsl(0deg 0% 0% / 0%);
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
      }
      .fa-clock,
      .fa-list {
        font-size: 1.2rem;
      }
      .control-icons {
        font-size: 1.2rem;
      }
      .like-counter {
        color: white;
        margin-left: 0.5rem;
        font-size: 0.875rem;
        line-height: 2rem;
      }
      .fa-thumbs-down,
      .fa-thumbs-up {
        font-size: 1.5rem;
        color: grey;
      }
      .video-description-player {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        font-family: var(--font-fam-2);
      }
      
      .video-item-playyerWrapper {
        display: flex;
        flex-direction: row;
        padding: 10px;
      }
      
      .video-title-player {
        font-size: 1rem;
        font-weight: bolder;
      }
      
      .small-description-player {
        font-size: 0.8rem;
        color: grey;
      }
      
       .playlistModal-wrapper {
         background-color: hsl(0deg 0% 13%);
         width: 90%;
      }
      .playlistModal-header {
        color: white;
        /* padding: 10px 0px 10px 10px; */
        font-family: var(--font-fam-2);
        text-align: center;
      }
   
      .playlistModal-description {
        color: grey;
        text-align: left;
        padding: 10px;
      }
      .playlist-checkbox {
        list-style: none;
      }
      .playlistModal-input {
        padding: 10px;
        font-family: var(--font-fam-2);
      }
      .playlistModal-inputBox {
        border: 2px solid black;
        padding: 10px;
        width: 60%;
      }
      .playlistModal-footer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        font-family: var(--font-fam-2);
      }
      .watchLater {
        background-color: grey;
        width: 36%;
        margin-left: 10px;
      }   
      .watchlater-checkbox p {
        /* font-size: 0.8rem; */
      }
      .watchlaterLabel {
        font-size: 1rem;
        font-weight: 550;
        text-align: center;
      }
      .close-btn {
        padding: 10px;
        border-radius: 5px;
        font-weight: 550;
        width: 100%;
        border: none;
      }
      .plus-btn {
        border: 2px solid black;
        padding: 10px;
        border: none;
        box-shadow: 1pc;
        background-color: lightgray;
        border-radius: 50%;
      }
      .plus-btn[disabled] {
        background-color: whitesmoke;
        color: #333;
      }
      .add-btn {
        padding: 10px;
        background: #4caf50;
        border: none;
        font-weight: 550;
        color: white;
        border-radius: 5px;
        width: 100%;
      }
      .playlist-name {
        color: white;
      }
      .playlistName-label {
        color: whitesmoke;
      }
      .playlistModal-watchLater {
        padding: 5px;
        width: 30%;
      }

      @media screen and (min-width: 768px) and (max-width: 1023px){
    .player-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            padding: 0px 80px 0px 80px;
          }
    .playlist {
        bottom: 25%;
        left: 50%;
        width: 55%;
      }
    }
    @media screen and (min-width: 1024px) {
      .video-controls{
        /* top: 30px; */
      }
      
    }

    @media screen and  (max-width: 768px){
        .player-wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            padding: 0px 10px 0px 10px;
          }
          .player-control {
            padding-top: 10px;
            display: block;
          }
          .video-controls {
              justify-items: center;
          }
          .video-title-player {
              font-size: 0.78rem;
          }
          .small-description-player {
              font-size: 0.7rem;
          }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
      .playlistModal-wrapper {
         width: 50%;
      }
      }
      
      @media screen and (min-width: 1024px){
          .playlistModal-wrapper {
             width: 30%;
          }
          .playlistModal-footer {
            flex-direction: row;
          }
          .close-btn{
            width: 50%
          }
          .add-btn{
           width: 50%;
          }
          
          }