.main_wrapper {
    overflow-x: hidden;
    background-color: var(--size-nav-background);
    display: flex;
    flex-direction: row;
}

.home-wrapper__main {
    width: 100%;
    background: hsl(0deg 0% 13%);
}


  .search-category-btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    column-gap: 1em;
    justify-items: center;
  }
  
  .skills-category {
    padding: 10px;
    background-color: hsl(0deg 0% 20%);
    border: none;
    width: 80%;
    box-shadow: 0 0 5px 3px grey;
    color: white;
    border-radius: 6px;
  }
  .skills-category:hover {
    box-shadow: none;
  }
  .fa-laptop-code, .fa-paint-brush, .fa-poll, .fa-bullhorn, 
  .fa-photo-video, .fa-blog, .fa-youtube, .fa-figma
  {
      font-size: 1.5rem;
      padding: 1rem;
      color: darkgrey;
  }
  .skills-category-name {
      font-size: 1rem;
      padding: 0.5rem;
  }
  
  @media screen and (min-width: 1024px) { 
      .search-category-btns {
        grid-template-columns: repeat(4, 1fr);
      }
  }

  @media screen and (min-width: 550px) and (max-width: 1023px) { 
    .search-category-btns {
        grid-template-columns: repeat(3, 1fr);
      }
}
  