
.toast1{
    font-size:1rem;
    padding:1rem;
}

.toast1 .fa-badge-check,.toast1 .fa-window-close{
    animation: zoom-in-out 1s infinite ease-in-out;
}
 
@keyframes zoom-in-out{
    from {
    transform:scale(0.5); 
    }
    to{
    transform:scale(2);
    }
  }